@font-face {
    font-family: Louis George Cafe;
    src: url(../Page_numero/Louis\ George\ Cafe.ttf);
}

body {
    background-image: linear-gradient(140deg, white 0%, rgb(126, 160, 183) 100%);
}

.numero {
    
    width: 100%;
    height: 100vh;
}

h1 {
    font-size: 200px;
    
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Louis George Cafe;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}